<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobilschool.fintrack">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".FinTrackerApplication">
        <activity android:name="com.mobilschool.fintrack.ui.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="com.mobilschool.fintrack.ui.main.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mobilschool.fintrack.ui.main.MainActivity" />
        </activity>
        <activity android:name="com.mobilschool.fintrack.ui.bills.BillsActivity"
            android:parentActivityName="com.mobilschool.fintrack.ui.main.MainActivity"
            android:label="@string/title_bills_activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mobilschool.fintrack.ui.main.MainActivity" />
        </activity>
    </application>

</manifest>